
.header {
  background: url(res/home.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.banner {
  margin: 0 auto;
  padding: 100px;
  display: flex;
  justify-content:center;
}

.text-block {
  margin-top: 122px;
}
.code-block {
  margin-top: 1px;
}

.banner-bg {
  height:800px;
  vertical-align: bottom;
}
.code-bg {
  width: 800px;
}
.code {
  width: 600px;
  right: 210px;
  color: #fff;
  font-family: Consolas,Monaco,Menlo,"Andale Mono","lucida console","Courier New",monospace;
  font-size: 20px;
  line-height: 1.8;
  margin-top: -380px;
}

.slogon1 {
  font-size:51px;
  color:#fff;
}
.slogon2 {
  font-size:25px;
  color:#fff;
  width: 380px;
  margin-top: 30px;
}
.start-button {
  padding: 15px 60px;
  border-radius: 60px;
  background-color: rgb(255, 255, 255);
  color: #0444f7;
  text-decoration: none;
  display: block;
  width: 70px;
  margin-top: 57px;
  margin-bottom: 20px;
}






.features{
  background:#fff;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

.title {
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
  color: rgb(0, 0, 0);
}

.title2 {
  font-size: 18px;
  color: #89898c;
  text-align: center;
  margin: 34px auto 0 auto;
  width: 100%;
}

.features-content {
  margin-top: 100px;
  display: flex;
  justify-content:center;
}

.features-image {
  width: 800px;
  height: 600px;
}

.features-text {
  width: 590px;
}

.fs-text {
  margin-top: 50px;
}

.fs-text h3 {
  font-size: 30px;
  color: black;
}

.fs-text p {
  font-size: 18px;
  color: #89898c;
  margin-top: 20px;
}







.aplication {
  background-color: #f7f9fd;
  margin: 0 auto;
  padding: 110px 0;
}

.aplication-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  margin-top: 90px;
}

.aplication-item {
  width: 360px;
  height: 540px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  margin: 20px;
}

.app-image {
  display: block;
  margin: 0 auto;
  margin-top: 36px;
}

.app-text h3 {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 35px;
}

.app-text p {
  font-size: 18px;
  color: #89898c;
  width: 250px;
  margin: 0 auto;
}






.wase {
  background:#fff;
  margin: 0 auto;
  padding: 100px 50px;
  display: flex;
  justify-content:center;
}

.wase-text {
  width: 660px;
}

.wase-text h3 {
  font-size: 30px;
  color: black;
  text-align: center;
}

.wase-text p {
  margin-top: 30px;
  font-size: 24px;
  color: #89898c;
  line-height: 2.5;
}

.wase-image {
  margin-top: -40px;
  width: 600px;
  height: 600px;
  padding: 30px;
}

.demo-button {
  padding: 15px 60px;
  border-radius: 60px;
  background-color: #134cb0;
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 94px;
  margin-top: 57px;
}






.join {
  background: #134cb0;
  padding: 100px 0;
  height: 160px;
}

.join-text {
  width: 100%;
  margin: 0 auto;
}

.join-text h3 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.join-text p {
  margin-top: 30px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 2.5;
  text-align: center;
}






@media (max-width: 1200px) {
    .banner {
        flex-direction: column;
    }

}