

.content {
    width: 1500px;
    margin: 120px auto;
}

.content h3 {
    font-size: 30px;
    color: black;
    margin: 60px 0 30px 0;
}

.content p {
    font-size: 18px;
    color: #89898c;
    margin-top: 20px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}